.app-container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}
.post-card {
  min-width: 30rem;
  margin: 25px 50px;
}
.hashtag {
  margin: 0px 5px;
}
.reactions {
  width: 100%;
  margin: 15px 0 0 0;
  font-weight: bolder;
}
.create-post{
  width: 80%;
  margin: 50px 50px;
}
